__pycache__/
*.py[cod]
venv/
.venv/
env/
build/
dist/
*.egg-info/
pip-log.txt
pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.pyre/
.ruff_cache/
.ipynb_checkpoints/
*.log
logs/
*.pid
poetry.lock
Pipfile.lock
uv.lock
.vscode/
.idea/
*~
tmp/
*.tmp
*.swp
*.pem
*.key
*.spec
.cache/